# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
bin/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Variáveis de ambiente locais
.env
application-local.yml

# Build
!**/src/main/**/build/
!**/src/test/**/build/
build/

# Docker
*.pid
